.h1, h1 {
  font-size: 2.5rem;
}

.loginLogo {
	max-height: 7rem;
  animation: shake 5s both;
  backface-visibility: hidden;
  animation-iteration-count: infinite;
}

fieldset {
  margin-inline-end: 0;
  border: 0;
}

.form--login--wrap {
  display: flex;
  margin: auto;
  margin-top: 5rem;
  max-width: 900px;
  flex-wrap: wrap;
  justify-content: center;
}

.form--login {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
  margin: auto;
  max-width: 300px;
}

.label--login {
  width: 8rem;
  display: inline-block;
}

.form-control {
  display: block;
  width: 94%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-firstName, .form-control-lastName, .form-control-username, .form-control-profileImage {
  display: block;
  width: 400px;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: auto;
  max-width: 300px;
}

.form-control-bio {
  display: block;
  width: 94%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: auto;
  max-width: 300px;
  resize: vertical;
}
.container--login {
  text-align: center;
}

.form--login {
  z-index: 1;
  min-height: 25rem;
  
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}

.button--close {
	clear: both;
	background-color: #aaa;
	border: 0 none;
	border-radius: 4px;
	transition: all 0.23s ease-in-out 0s;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: normal;
	height: 32px;
	line-height: 32px;
	margin-top: 2rem;
	padding: 0 22px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	width: auto;
}
.button--close:hover {
	background-color: rgb(105, 105, 105);
}

.dialog {
  min-width: 15rem;
  min-height: 5rem;
}

.link--register {
  font-size: 15px;
}

.signInHead {
  text-align: center;
}
.rareLogoImage {
  margin-top: 5rem;    
  margin-bottom: 7rem;
  text-align: center;
}

.profileImageDefault {
  width: 94%;
  text-align: center;
}
.profileImageDiv {
  display: flex;
  justify-content: center;
}

.registerButton {
	clear: both;
	background-color: #aaa;
	border: 0 none;
	border-radius: 4px;
	transition: all 0.23s ease-in-out 0s;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: normal;
	height: 32px;
	line-height: 32px;
	margin-bottom: 5rem;
	padding: 0 22px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	width: auto;
}
.registerButton:hover {
	background-color: rgb(105, 105, 105);
}

#file-upload-button {
  clear: both;
	background-color: #aaa;
	border: 0 none;
	border-radius: 4px;
	transition: all 0.23s ease-in-out 0s;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: normal;
	height: 32px;
	line-height: 32px;
	margin-bottom: 5rem;
	padding: 0 22px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	width: auto;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 2px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}