.mapBox {
	margin: auto;
	max-width: 940px;
	margin-top: 5rem;
}

.state {
	position: relative;
	transition: 0.3s;
	fill: whitesmoke;
	stroke: black;
	margin: 1rem;
}
.state:hover {
	fill: rgb(255, 134, 21);
  
	cursor: pointer;
}

.eventsBox {
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	max-width: 1000px;
	margin-top: 7rem;
	flex-wrap: wrap;
}

.eventBoxes {
	flex-basis: 40%;
  color: white;
  text-align: center;
  background-color: #373737;
  border: 2px solid #202020;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 2rem;
}
